:root {
  --gridSize: 740px;
  --squareBoxSize: 74px;
}

.board {
  padding: 40px;
  display: flex;
  flex-direction: column-reverse;
}

.table {
  width: 800px;
  height: 800px;
  background-image: url('./images/gameBoard.png');
  background-size: cover;
}

.square {
  margin: -1px;
  min-height: 10px;
  width: var(--squareBoxSize);
  height: var(--squareBoxSize);
}

.blue {
  background: #afceff;
}

.red {
  background: #f9cfbd;
}

.green {
  background: #c8f9ac;
}

.pure-u-1-6 {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  zoom: 1;
}

.players {
  position: absolute;
  bottom: 30%;
  display: flex;
}

.square {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.dash-board {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.player-list-container {
  border: 3px solid black;
  border-radius: 10px;
  width: 200px;
  height: 500px;
  overflow: scroll;
  margin-top: 150px;
}

.player-list-container h3 {
  text-align: center;
  border-bottom: 1px solid black;
}

.activePlayer {
  background-color: aliceblue;
  border-radius: 20px;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.player div {
  width: 120px;
  font-weight: 600;
}

.dices {
  margin: -70px 0px 0px 70px;
  width: 90px;
}

.board-status {
  align-items: center;
  margin: 40px 0;
}

.board-status div {
  margin-right: 10px;
}

.player-info {
  width: 800px;
  height: 500px;
  border: 3px solid black;
  margin: 0px auto;
  padding: 40px;
  margin-top: 100px;
}

.player-img {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
}

.page {
  display: flex;
  align-items: flex-end;
}

.player-wallet {
  width: 250px;
  height: 400px;
  background-image: url(./images/playersWallet.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -55px;
}

.player-wallet-box {
  width: 148px;
  margin-left: 54px;
  margin-top: 65px;
  height: 280px;
}

.selected {
  background-color: black;
}

.selected-img {
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
}

.dice-board {
  text-align: center;
  height: 50px;
  font-size: 50px;
  color: red;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.login {
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 40px;
  border: 3px solid black;
  margin-top: 200px;
}

.login-buttons {
  display: flex;
  justify-content: center;
}

.login-buttons button {
  margin-right: 5px;
}

.login-buttons-active {
  box-shadow: 0px 7px rgb(179, 143, 89) !important;
}
.login-room-id label {
  margin-right: 10px;
}
.login-room-id {
  display: flex;
  align-items: center;
}

.login-room-id input {
  width: 40px;
}

.login-row {
  margin: 60px !important;
  display: flex;
  justify-content: center;
}

.loginPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(./images/loginPage.jpeg);
}

.board-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(./images/gameBoardPage.jpeg);
  background-size: cover;
}

.board-page-status {
  font-size: xx-large;
  text-align: center;
  font-weight: 900;
}

.board-page-status span {
  font-weight: 400;
}

.join-room-btn {
  margin-top: 39px;
}

.disable-dice {
  cursor: no-drop;
  opacity: 0.5;
}

.active-dice,
.pointer {
  cursor: pointer;
}

.fa {
  font-size: 80px !important;
  color: white;
  position: absolute;
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes arrow {
  0% {
    bottom: 65%;
  }
  55% {
    bottom: 110%;
  }
  100% {
    bottom: 65%;
  }
}

.pointer {
  animation-name: img;
  animation-iteration-count: initial;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes img {
  0% {
    height: 30px;
  }
  55% {
    height: 50px;
  }
  100% {
    height: 70px;
  }
}
