:root {
  --gridSize: 740px;
  --squareBoxSize: 74px;
}

.board {
  padding: 40px;
  display: flex;
  flex-direction: column-reverse;
}

.table {
  width: 800px;
  height: 800px;
  background-image: url('./images/gameBoard.png');
  background-size: cover;
}

.square {
  margin: -1px;
  min-height: 10px;
  width: var(--squareBoxSize);
  height: var(--squareBoxSize);
}

.blue {
  background: #afceff;
}

.red {
  background: #f9cfbd;
}

.green {
  background: #c8f9ac;
}

.pure-u-1-6 {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  zoom: 1;
}

.players {
  position: absolute;
  bottom: 30%;
}

.square {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.dash-board {
  display: flex;
}

.player-list {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  margin: 0px 20px;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player div {
  width: 120px;
}

.player-list-header {
  display: flex;
  justify-content: center;
}

.dices {
  display: flex;
  justify-content: flex-end;
}

.board-status {
  display: flex;
  justify-content: center;
}

.player-info {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  margin: 0px auto;
}

.player-img {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.page {
  display: flex;
  align-items: flex-end;
}

.player-wallet {
  width: 250px;
  height: 400px;
  background-image: url(./images/playersWallet.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -55px;
}

.player-wallet-box {
  width: 148px;
  margin-left: 54px;
  margin-top: 65px;
  height: 280px;
}

.selected {
  background-color: black;
}

.selected-img {
  cursor: pointer;
}

.dice-board {
  text-align: center;
  height: 50px;
  font-size: 50px;
  color: red;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
