.page {
  margin: 0 auto;
  width: 750px;
}

.board {
  padding-top: 1em;
}

.square {
  border: solid 1px #ddd;
  margin: -1px;
  min-height: 10px;
  cursor: pointer;
}

.blue {
  background: #afceff;
}

.red {
  background: #f9cfbd;
}

.green {
  background: #c8f9ac;
}

.pure-u-1-6 {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  display: inline-block;
  zoom: 1;
  width: 10%;
}

.players {
  position: absolute;
  bottom: 30%;
}

.square {
  height: 75px;
  position: relative;
  display: inline-flex;
  justify-content: center;
}
